body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

form {
    display: inline-block;
}

ul {
    margin: 0;
}

table,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td {
    height: 70px;
    width: 70px;
    text-align: center;
}

.error {
    color: red;
}

.joueur1 {
    color: black;
    background-color: red;
}

.joueur2 {
    color: white;
    background-color: blue;
}

.direction {
    margin-top: 10px;
    margin-right: 3px;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}