{% extends "base_auth.html" %} {% block title %}Test Template{% endblock title %} {% block html_body %} {% autoescape off %} {{ grid|center:"40" }} {% endautoescape %}
<form id="form">
    <button class="direction">Left</button>
    <button class="direction">Up</button>
    <button class="direction">Down</button>
    <button class="direction">Right</button>
    <button id="reset">Reset</button>
    <p id="player_turn">unknown</p>
</form>

<div id="log"></div>
</br>
<script>
    nbTurns = "{{ nbTurns }}";
    currentPlayerId = (nbTurns % 2) + 1;
    
    
    document.getElementById('player_turn').innerHTML = "Player " + String(currentPlayerId) + "'s Turn.";

    let debugOutput = "";
    let logs = document.getElementById("log");
    let tds = document.getElementsByClassName("td");


    window.onload = function init() {
        //Buttons Init
        document.getElementById("reset").addEventListener("click", function() {
            document.getElementById("form").action = "/board/game/resetGame";
        });
        

        p1 = ("{{ board.p1.isAI }}" == "True");
        p2 = ("{{ board.p2.isAI }}" == "True");

        isCurrentPlayerAI = (currentPlayerId == '1') ? p1 : p2;

        //Check if buttons should be created or not
        if(isCurrentPlayerAI){
           document.getElementById("reset").style.display = "none";
        } else {
            directionnalButtons = document.getElementsByClassName("direction");
            for (let i = 0; i < directionnalButtons.length; i++) {
                directionnalButtons[i].addEventListener("click", function () {
                    document.getElementById("form").action = `/board/move${this.innerHTML}/${currentPlayerId}`;
                });
            }
        }
        
        if (document.location.href.includes("move")) {
            //Allows Player vs. Player && Player vs.AI
            document.location = "/board/game";
        } else {
            //Triggers auto-refreshing for AI vs. AI
            if (p1 == true && p2 == true) {
                setTimeout(function() {
                    document.location.reload(1);
                }, 15);
            }
        }
    }

    /*function playTurn(player) {
        let elem = document.createElement("p");
        elem.innerHTML = `Tour ${nbTurns} - ${player.tag} joue.`;
        logs.appendChild(elem);
    }

    function move(event) {
        let target = event.target.innerHTML.toLowerCase();
        let player = currentPlayerId.tag;
        let output = `Cible de l'événement : ${target}. Joueur : ${player}`;

        alert(output);


        debugOutput = alphaMove();
        alert(debugOutput);
    }*/
</script>
</br>
{% endblock html_body %}
