{% extends "base_auth.html" %} {% block title %}Test Template{% endblock title %} {% block html_body %} {% autoescape off %} {{ grid|center:"40" }} {% endautoescape %}
<form id="form">
    <button class="direction">Left</button>
    <button class="direction">Up</button>
    <button class="direction">Down</button>
    <button class="direction">Right</button>
    <button id="reset">Reset</button>
</form>

<div id="log"></div>
</br>
<script>
    setTimeout(function() {
        document.location.reload(1);
    }, 15);
    let debugOutput = "";
    let logs = document.getElementById("log");
    let tds = document.getElementsByClassName("td");
    currentPlayer = "{{ nbTurns }}";
    nbTurns = currentPlayer;
    currentPlayer = (currentPlayer % 2) + 1;



    window.onload = function init() {
        //Buttons Init
        document.getElementById("reset").addEventListener("click", function() {
            document.getElementById("form").action = "/board/game/resetGame";
        });
        directionnalButtons = document.getElementsByClassName("direction");
        for (let i = 0; i < directionnalButtons.length; i++) {
            directionnalButtons[i].addEventListener("click", function() {
                document.getElementById("form").action = `/board/move${this.innerHTML}/${currentPlayer}`;
            });

        }
    }


    function playTurn(player) {
        let elem = document.createElement("p");
        elem.innerHTML = `Tour ${nbTurns} - ${player.tag} joue.`;
        logs.appendChild(elem);


    }

    function move(event) {
        let target = event.target.innerHTML.toLowerCase();
        let player = currentPlayer.tag;
        let output = `Cible de l'événement : ${target}. Joueur : ${player}`;

        alert(output);


        debugOutput = alphaMove();
        alert(debugOutput);
    }

    function alphaMove() {
        let boardInfo = "{{ alphaMove }}";
        alert(boardInfo);
    }
</script>
</br>
{% endblock html_body %}